.box{
    border: 1px solid black;
    height:200px;
    width: 150px;
    background-image: linear-gradient(red, blue);
    background-image: linear-gradient(to right,red, blue);
    background-image: linear-gradient(to top,red , blue);
    background-image: linear-gradient(to bottom right,red , blue);
    background-image: linear-gradient(90deg,red, blue);

}

.mydiv{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    height: 200px;
    width: 200px;
    background-image: radial-gradient(red, blue );
    background-image: radial-gradient(circle,red, blue,orange );

}